.wrapper{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    .allWidth{
        width: 100%;

    }
}

.stepContainer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    .cell{
        min-height: 50px;
    }
    .halfRowCell{
        width: 50%;
    }
    .quarterRowCell{
        width: 25%;
    }
    .thirdRowCell{
        width: 33%;
    }
    .fullRowCell{
        width: 100%;
        .logoImage{
            width: 300px;
        }
    }
    .buttonRow{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
    }
    .centered{
        text-align: center;
    }
}

