<diaryDome-popup-top-bar [title]="'Crea Nuovo Format'" [dialogRef]="dialogRef"></diaryDome-popup-top-bar>
<div class="wrapper">
    <mat-horizontal-stepper [linear]="false" #stepper class="allWidth">
        <mat-step [completed]="baseGroup" label="Informazioni Base">
            <div class="stepContainer">
                <div class="halfRowCell cell">
                    <mat-form-field class="formBase">
                        <input matInput type="text" 
                            placeholder="Nome del format" class="formField"
                            [(ngModel)]="format.Name">
                            <mat-hint>Il nome del Format. Verrà automaticamente assegnato a tutti gli show che useranno questo format.</mat-hint>
                    </mat-form-field> 
                </div>
                <div class="halfRowCell cell">
                    <mat-form-field class="formBase">
                        <mat-select placeholder="Tipo di Show" class="formField" 
                        [(ngModel)]="format.EventType">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of showType" [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>
                <div class="halfRowCell cell">
                    <mat-form-field class="formBase">
                        <mat-select placeholder="Giorno di svolgimento" class="formField" 
                        [(ngModel)]="format.DayWeek">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of dayWeek" [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>
                <div class="halfRowCell cell">
                    <button mat-raised-button color="primary" (click)="fileToUpload.click()">Scegli il logo dello show</button>
                    <input hidden type="file" #fileToUpload id="formatLogo"
                        (change)="fileUploaded($event)">
                </div>
                <div class="buttonRow">
                    <button mat-button color="primary" (click)="close()">ANNULLA</button>
                    <!-- <button mat-button color="warn" matStepperPrevious>INDIETRO</button> -->
                    <button mat-raised-button color="primary" matStepperNext
                    [disabled]="checkNext(0)">AVANTI</button>
                </div>
                <div class="fullRowCell centered" *ngIf="format.Picture">
                    <img [src]="format.Picture" class="logoImage">
                </div>
            </div>
        </mat-step>
        <mat-step [completed]="contextGroup" label="Contesto">
            <div class="stepContainer">
                <div class="thirdRowCell cell">
                    <mat-form-field class="formBase">
                        <input matInput type="color" 
                            placeholder="Colore rappresentativo del format" class="formField"
                            [(ngModel)]="format.soldOutColor">
                    </mat-form-field> 
                </div>
                <div class="thirdRowCell cell">
                    <mat-checkbox [(ngModel)]="dimension" (ngModelChange)="buildWorkerPicture()">Immagine lottatore ridimensionata</mat-checkbox>
                    <mat-checkbox [(ngModel)]="border" (ngModelChange)="buildWorkerPicture()">Immagine lottatore con il bordo</mat-checkbox>
                </div>
                <div class="thirdRowCell cell">
                    <mat-radio-group placeholder="Forma dell'immagine del lottatore" [(ngModel)]="angles" 
                    (ngModelChange)="buildWorkerPicture()">
                        <mat-radio-button value="Acute">Nessuna modifica all'immagine</mat-radio-button><br>
                        <mat-radio-button value="Blunt">Immagine con angoli smussati</mat-radio-button><br>
                        <mat-radio-button value="Round">Immagine a forma circolare</mat-radio-button>
                      </mat-radio-group>
                </div>

                <div class="halfRowCell cell">
                    <mat-form-field class="formBase">
                        <mat-select placeholder="Formattazione base" class="formField" 
                        [(ngModel)]="format.headerFormat">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of headerStyles" [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>


                <div class="buttonRow">
                    <button mat-button color="primary" (click)="close()">ANNULLA</button>
                    <button mat-button color="warn" matStepperPrevious>INDIETRO</button>
                    <button mat-raised-button color="primary" matStepperNext
                    [disabled]="checkNext(1)">AVANTI</button>
                </div>
                <div class="fullRowCell" *ngIf="format.headerFormat" 
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml(getHeader())">
                </div>
            </div>
        </mat-step>
        <mat-step [completed]="matchGroup" label="Match">
            <div class="stepContainer">
                <div class="halfRowCell cell">
                    <mat-form-field class="formBase">
                        <mat-select placeholder="Formattazione Match" class="formField" 
                        [(ngModel)]="format.matchFormat">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of matchStyles" [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>

                <div class="quarterRowCell cell">
                    <mat-form-field class="formBase">
                        <input matInput type="color" 
                            placeholder="Colore principale dei Match" class="formField"
                            [(ngModel)]="format.matchFirstBorderColor">
                    </mat-form-field> 
                </div>

                <div class="quarterRowCell cell">
                    <mat-form-field class="formBase">
                        <input matInput type="color" 
                            placeholder="Colore secondario dei Match" class="formField"
                            [(ngModel)]="format.matchSecondBorderColor">
                    </mat-form-field> 
                </div>

                <div class="buttonRow">
                    <button mat-button color="primary" (click)="close()">ANNULLA</button>
                    <button mat-button color="warn" matStepperPrevious>INDIETRO</button>
                    <button mat-raised-button color="primary" matStepperNext
                    [disabled]="checkNext(2)">AVANTI</button>
                </div>
                <div class="fullRowCell" *ngIf="format.matchFormat" 
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml(getMatch())">
                </div>
            </div>           
        </mat-step>
        <mat-step [completed]="angleGroup" label="Angle">
            <div class="stepContainer">
                <div class="halfRowCell cell">
                    <mat-form-field class="formBase">
                        <mat-select placeholder="Formattazione Angle" class="formField" 
                        [(ngModel)]="format.angleFormat">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of angleStyles" [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>

                <div class="halfRowCell cell">
                    <mat-form-field class="formBase">
                        <input matInput type="color" 
                            placeholder="Colore principale dell'angle" class="formField"
                            [(ngModel)]="format.angleFirstBorderColor">
                    </mat-form-field> 
                </div>

                <div class="buttonRow">
                    <button mat-button color="primary" (click)="close()">ANNULLA</button>
                    <button mat-button color="warn" matStepperPrevious>INDIETRO</button>
                    <button mat-raised-button color="primary" matStepperNext
                    [disabled]="checkNext(3)">AVANTI</button>
                </div>
                <div class="fullRowCell" *ngIf="format.angleFormat" 
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml(getAngle())">
                </div>
            </div>              
        </mat-step>
        <mat-step label="Infografiche">
            <div class="stepContainer">
                <div class="halfRowCell cell">
                    <mat-form-field class="formBase">
                        <mat-select placeholder="Formattazione Infografica" class="formField" 
                        [(ngModel)]="format.infographicFormat">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of angleStyles" [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>

                <div class="halfRowCell cell">
                    <mat-form-field class="formBase">
                        <input matInput type="color" 
                            placeholder="Colore principale dell'infografica" class="formField"
                            [(ngModel)]="format.infographicFirstBorderColor">
                    </mat-form-field> 
                </div>

                <div class="buttonRow">
                    <button mat-button color="primary" (click)="close()">ANNULLA</button>
                    <button mat-button color="warn" matStepperPrevious>INDIETRO</button>
                    <button mat-raised-button color="primary" (click)="createFormat()"
                    [disabled]="checkNext(4)">CONFERMA</button>
                </div>
                <div class="fullRowCell" *ngIf="format.infographicFormat" 
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml(getInfo())">
                </div>
            </div>    
        </mat-step>
    </mat-horizontal-stepper>
</div>