<div class="show-wrapper">
    <div class="rowTop">
        <div style="width: 50%">
            <mat-icon class="bigIcon backIcon" [matTooltip]="'Indietro'" (click)="goBack()">keyboard_arrow_left</mat-icon>
        </div>
        <div class="iconTopRow">
        </div>
    </div>
    <mat-form-field class="allWidth" *ngIf="showService.show
                                && showService.show.posted == 1">
        <textarea matInput [value]="completeShowCodeGenerate"
            cdkTextareaAutosize
            [placeholder]="'Codice per il forum'"
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="10"
            ></textarea>
    </mat-form-field>
    <mat-accordion class="showAccordion">
        <mat-expansion-panel class="matExpPanel" *ngIf="format">
            <mat-expansion-panel-header class="header">
                <div class="placement">
                    {{showService?.showDetail?.showName}}
                </div>
                <div class="angleTitle">
                    Header
                </div>
                <div class="iconBlock">

                </div>
                <div class="rating">
                    {{showService?.showDetail?.voto}}
                </div>
            </mat-expansion-panel-header>
            <mat-panel-description class="matExpDescr">
                <div class="segmentContent" [innerHTML]="sanitizer.bypassSecurityTrustHtml(contestGenerator['showStyleHeader' + format.headerFormat](showService.show, format))">
                </div>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel class="matExpPanel" *ngFor="let segment of showService.showDetail; let i = index">
            <mat-expansion-panel-header class="header">
                <mat-panel-title class="title">
                    <div class="placement">
                        {{segment.placement}} [{{angleTranslater[segment.segmentType]}}]
                    </div>
                    <div class="angleTitle">
                        {{segment.title}}
                    </div>
                    <div class="rating">
                        {{segment.rating}}
                    </div>
                    <div class="iconBlock">
                        <mat-icon *ngIf="showService.show  && showService.show.posted != 1" class="" [matTooltip]="'Modifica Segmento'" (click)="segmentEdit(segment, $event)">edit</mat-icon>
                        <mat-icon *ngIf="showService.show  && showService.show.posted != 1" class="" [matTooltip]="'Cancella Segmento'" (click)="deleteSegment(segment, $event)">delete</mat-icon>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description class="matExpDescr" *ngIf="completeShowString[i]">
                <div class="segmentContent" [innerHTML]="sanitizer.bypassSecurityTrustHtml(completeShowString[i].code)">
                </div>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
</div>



<button mat-fab class="floatingButton" [style.background]="format.soldOutColor" *ngIf="showService.show  && showService.show.posted != 1" (click)="newSegment()"><mat-icon 
    class="floatingIcon mat-icon-reverse" [matTooltip]="'Aggiungi Segmento'"
    [style.color]="GFService.analyzeBGColor(format.soldOutColor)">note_add</mat-icon></button>
<button mat-fab class="floatingButton second" [style.background]="format.soldOutColor" *ngIf="showService.show  && showService.show.posted != 1" (click)="deleteShow()"><mat-icon 
    class="floatingIcon mat-icon-reverse"  [matTooltip]="'Elimina Show'"
    [style.color]="GFService.analyzeBGColor(format.soldOutColor)">delete</mat-icon></button>
<button mat-fab class="floatingButton third" [style.background]="format.soldOutColor" *ngIf="showService.show  && showService.show.posted != 1" (click)="publishShow()"><mat-icon 
    class="floatingIcon mat-icon-reverse"  [matTooltip]="'Pubblica Show'"
    [style.color]="GFService.analyzeBGColor(format.soldOutColor)">play_arrow</mat-icon></button>
<button mat-fab class="floatingButton" [style.background]="format.soldOutColor" *ngIf="showService.show  && showService.show.posted == 1" (click)="depublishShow()"><mat-icon 
    class="floatingIcon mat-icon-reverse"  [matTooltip]="'Annulla la pubblicazione dello show'"
    [style.color]="GFService.analyzeBGColor(format.soldOutColor)">pause</mat-icon></button>