$diaryDome_darkBlue: #1A237E;
$diaryDome_blue: #1E88E5;
$diaryDome_lightBlue: #84FFFF;

$diaryDome_red: #D32F2F;
$diaryDome_green: #1B5E20;
$diaryDome_orange: rgb(194, 136, 28);

$diaryDome_icon: #2196f3;

$diaryDome_backgroundComponent: #212121;
$diaryDome_background: #111111;
$diaryDome_backgroundContentComponent: #1f1f1f;

$diaryDome_textColor: #fefefe;
$diaryDome_labelTextColor: #c4c4c4;
$diaryDome_Disabled:  #838383;


$diaryDome_Primary: rgb(42, 57, 124);
$diaryDome_Secondary: rgb(47, 102, 153);
