$diaryDome_darkBlue: #303f9f;
$diaryDome_blue: #1e88e5;
$diaryDome_lightBlue: #90caf9;




$diaryDome_red: #D32F2F;
$diaryDome_green: #1B5E20;
$diaryDome_orange: rgb(194, 136, 28);

$diaryDome_icon: #1e88e5;

$diaryDome_backgroundComponent: #212121;
$diaryDome_background: #111111;
$diaryDome_backgroundContentComponent: #1f1f1f;

$diaryDome_textColor: #fefefe;
$diaryDome_labelTextColor: #c4c4c4;
$diaryDome_Disabled:  #838383;


$diaryDome_Primary: #303f9f;
$diaryDome_Secondary: #90caf9;
