<diaryDome-popup-top-bar [title]="action =='create' ? 'Crea Nuovo Segmento' : 'Modifica Segmento'" [dialogRef]="dialogRef"></diaryDome-popup-top-bar>
<div class="createSegmentWrapper">
    <div class="headerWrapper">
        <div class="headerDiv">
            <img [src]="GFService.createPath(GFService.user.ID, 
                        format.Picture.split('.')[0], 
                        format.Picture.split('.')[1], 
                        'Loghi')" 
            class="image"
            >
        </div>
        <div class="firstFormDiv">
            <div class="cell">
                <mat-form-field class="formBase">
                    <mat-select placeholder="Tipo di Segmento" class="formField" 
                    [(ngModel)]="segment['segmentType']">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let item of segmentTypeList" [value]="item.value">
                            {{item.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>
            <div class="cell">
                <mat-form-field class="formBase">
                    <mat-select placeholder="Posizionamento nello show" class="formField" 
                    [(ngModel)]="segment['placement']">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let item of placementList" [value]="item.value">
                            {{item.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>            
            <div class="cell">
                <mat-form-field class="formBase" *ngIf="!isMatch()">
                    <input matInput type="text" 
                        placeholder="Titolo in Evidenza" class="formField"
                        [(ngModel)]="segment['shownTitle']">
                </mat-form-field> 
            </div>
        </div>
    </div>

    <div class="formDiv">

        
        <div style="width: 50%" class="cell">
            <mat-form-field class="formBase">
                <input matInput type="text" [disabled]="isMatch()"
                    placeholder="Nome del Segmento" class="formField"
                    [(ngModel)]="segment['title']">
            </mat-form-field> 
        </div>
        <div style="width: 20%" class="cell">
            <mat-form-field class="formBase">
                <input matInput type="text" 
                    placeholder="Rating del segmento" class="formField"
                    [(ngModel)]="segment['rating']">
            </mat-form-field> 
        </div>
        <div style="width: 30%" class="cell">
            <mat-form-field class="formBase" *ngIf="isColorChange()">
                <input matInput type="color" 
                    placeholder="Colore da applicare" class="formField"
                    [(ngModel)]="segment['graphicColor']">
                    <mat-hint>Nome in Inglese del colore oppure codice esadecimale.</mat-hint>
            </mat-form-field> 
        </div>

        <div style="width: 50%" class="cell" *ngIf="isMatch()">
            <mat-form-field class="formBase">
                <input matInput type="text" 
                    placeholder="Stipulazione dell'incontro" class="formField"
                    [(ngModel)]="segment['matchType']">
            </mat-form-field> 
        </div>
        <div style="width: 50%" class="cell" *ngIf="isMatch()">
            <mat-form-field class="formBase">
                <input matInput type="text" 
                    placeholder="Composizione dell'incontro" class="formField"
                    (focusout)="setTitle()"
                    [(ngModel)]="segment['matchScheme']">
                    <mat-hint>Es: AJ Styles vs Ricochet</mat-hint>
            </mat-form-field> 
        </div>
        <div style="width: 50%" class="cell" *ngIf="isMatch()">
            <mat-form-field class="formBase">
                <input matInput type="text" 
                    placeholder="Titolo messo in palio" class="formField"
                    [(ngModel)]="segment['championship']">
            </mat-form-field> 
        </div>
        <div style="width: 50%" class="cell" *ngIf="isMatch()">
            <mat-form-field class="formBase">
                <input matInput type="text" 
                    placeholder="Campione Entrante" class="formField"
                    [(ngModel)]="segment['champion']">
            </mat-form-field> 
        </div>
        
        <div style="width: 5%" class="cell workerCell" *ngIf="isMatch() && isLong()">
            <mat-icon class="bigIcon workerSearchIcon" [matTooltip]="'Scegli worker'" (click)="openWorkerSelection()">search</mat-icon>
         </div>
        <div style="width: 60%" class="cell workerCell" *ngIf="isMatch() && isLong()">
            <mat-form-field class="formBase">
                <input matInput type="text" 
                    placeholder="Lista immagini" class="formField"
                    [(ngModel)]="segment['matchWorkersView']">
                    <mat-hint [innerHTML]="hintImages"></mat-hint>
            </mat-form-field> 
        </div>
        <div style="width: 35%" class="cell" *ngIf="isMatch()">
            <mat-form-field class="formBase">
                <input matInput type="text" 
                    placeholder="Vincitore" class="formField"
                    [(ngModel)]="segment['matchWinner']">
            </mat-form-field> 
        </div>
        
        <div class="cell" style="width: 65%" *ngIf="isChampionship()"></div>
        <div class="cell CBcontainer" style="width: 35%" *ngIf="isChampionship()">
            <div class="checkBox">
                <mat-checkbox [(ngModel)]="segment['titleChange']">È cambiato il titolo?</mat-checkbox>
            </div>
            
            <div class="checkBox">
                <mat-checkbox [(ngModel)]="segment['championshipAdv']">È stato sfruttato il Champions Advantage?</mat-checkbox>
            </div>
        </div>
        <div class="cell" style="width: 100%">
<!--             <ejs-richtexteditor id='iframeRTE' [toolbarSettings]='tools' 
            [iframeSettings]='iframe' [height]='height' [(ngModel)]="segment['contentArea']"
            [placeholder]="'Contenuto del segmento'">
            </ejs-richtexteditor> -->
            <mat-form-field class="allWidth">
                <textarea matInput 
                    cdkTextareaAutosize [(ngModel)]="segment['contentArea']"
                    [placeholder]="'Contenuto del segmento'"
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="10"
                    cdkAutosizeMaxRows="20"
                ></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="buttonRow">
        <button mat-button color="primary" (click)="close()">ANNULLA</button>
        <button mat-raised-button color="primary" (click)="actionDispatcher()"
        [disabled]="checkConfirm()">CONFERMA</button>
    </div>
</div>