
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import "assets/theme/_diaryDome-theme.scss";
@import "assets/theme/_variables.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


@include angular-material-theme($my-theme);

/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    color: $diaryDome_textColor;
    font-family: Arial, Helvetica, sans-serif !important; 
}
body { 
    margin: 0; 
    background-color: $diaryDome_background;
    font-size: 14px;
}

mat-dialog-container{
    background-color: $diaryDome_backgroundComponent !important;
    color: $diaryDome_textColor !important;
    overflow-x: hidden !important;
}

.mat-drawer-container{
    background-color: $diaryDome_backgroundComponent !important;
    color: $diaryDome_textColor !important;
}

.mat-drawer-side{
    border-right: solid 1px rgba(50, 27, 92, 0.842) !important;
}

.formBase{
    color: $diaryDome_textColor;
    width: 90%;
}

.mat-form-field-label{
    color: $diaryDome_textColor !important;
}

.mat-form-field-label, .mat-select-value-text{
    color: $diaryDome_textColor !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: $diaryDome_Secondary !important;
}

.mat-checkbox-frame {
    border-color: $diaryDome_Secondary !important;
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color:   $diaryDome_Secondary !important;
}

.mat-select-arrow{
    color: $diaryDome_Secondary !important;
}

.mat-input-element:disabled{
    color: $diaryDome_Disabled !important;
}

.mat-hint{
    color: $diaryDome_labelTextColor !important;
}

.mat-option{
    background-color: $diaryDome_backgroundContentComponent !important;
    color: $diaryDome_labelTextColor !important;
}

.mat-option:hover{
    background-color: $diaryDome_darkBlue !important;
}

.mat-raised-button:disabled{
    color: $diaryDome_Disabled !important;
}

textarea.mat-input-element{
    background-color: $diaryDome_backgroundContentComponent !important;
}

.bold{
    font-weight: bold;
}

.small{
    font-size: 8px;
}
.mat-icon{
    color: $diaryDome_icon;
}
.mat-icon-reverse{
    color: $diaryDome_textColor;
}

.OKIcon{
    color: $diaryDome_green;
}
.KOIcon{
    color: $diaryDome_red;
}
.WorkIcon{
    color: $diaryDome_orange;
}

.bigIcon{
    font-size: 33px;
    height: 33px !important;
    width: 33px !important;
}

.maiuscolo{
    text-transform: uppercase;
}

.rowTop{
    display: flex;
    flex-flow: row wrap;
}

.floatingButton{
    position: fixed !important;
    top: 50px;
    right: 25px;
    
}


.floatingIcon{
    margin-top: -4px;
    height: 33px !important;
    width: 33px !important;
    font-size: 33px;
}

.floatingButton.second{
    top: 110px;
}

.floatingButton.third{
    top: 170px;
}

.backIcon, .touchable {
    cursor: pointer;
}

.mat-dialog-container{
    padding: 16px !important;
}


//SCROLLBAR

/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $diaryDome_backgroundComponent;
    border-radius: 50px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $diaryDome_darkBlue;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $diaryDome_lightBlue;
  }